{% extends 'padre.html' %}

{% load static %}


{% block contenido %}
<main class="container">
    <h1 class ="text-xl-center title"> Cursos </h1>
    <table class="table">
        <th>id</th>
        <th>nombre</th>
        <th>camada</th>
        <tbody>
            {% for n in cursos%}
            <tr>
                <th scope="row">{{n.id}}</th>
                <td>{{n.nombre}}</td>
                <td>{{n.camada}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock %}